<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Seccion - Secciones</h1>
      </div>

      <%= link_to "Nueva Seccion", new_admin_seccion_path, :title => 'Create new Seccion', :class => 'btn btn-default' %>

      <%= content_tag(:table, :class => 'index_table', id: 'seccion') do %>
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Nombre</th>
          <th>Activa</th>
          <th>Paginas</th>
        </tr>
      </thead>
      <tbody>
        <% @secciones.each do |seccion| %>
        <%= content_tag_for(:tr, seccion) do %>
        <td><i class="icon-resize-vertical sort-handle"></i></td>
        <td><%= seccion.nombre %></td>
        <td><%= seccion.active %></td>
        <td><%= link_to 'Paginas', admin_seccion_paginas_path(seccion) %></td>
        <td><%= link_to 'Edit', edit_admin_seccion_path(seccion), title: 'Edit Seccion' %></td>
        <td><%= link_to 'Delete', admin_seccion_path(seccion), method: :delete, data: {confirm: 'Are you sure?'}, title: 'Delete Seccion' %></td>
        <% end %>
        <% end %>
      </tbody>
      <% end %>
    </div>
  </div>
</div>
